<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="namofo.org.jiesehelper" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".app.AppContext_"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="UMENG_APPKEY" android:value="559f8bbd67e58ee7c6001635"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="${channel}"/>

        <activity
            android:name=".ui.MainActivity_"
            android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ArticleDetailForDbActivity_"/>
        <activity android:name=".ui.PDFViewActivity_"/>
        <activity android:name=".ui.ArticleDetailForTxtActivity_" android:theme="@style/MainTheme" />
        <activity android:name=".ui.ArticleDetailForNetActivity_"/>
        <activity android:name=".ui.AboutActivity_"/>


        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
    </application>

</manifest>
